*{
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* AUXILIARES */
.ocultar{
    display: none !important;
}


/* *************** */
.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #f00; */
}
.menu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid #f00; */
}
.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    width: 100%;
    height: 100vh;
    /* border: 1px solid #f00; */
}

.aba{
    background-color: #248;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px 10px 0px 0px;
    margin-right: 1px;
}
.abaSelecionada{
    background-color: #ddd !important;
}

.if_principal{
    /* border: 1px solid #f00; */
    width: 100%;
    height: 100%;
    overflow-x: hidden;   /* para não aparecer barra de rolagem horizontal */
}

.btn_geral{
    background-color: #248;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    margin: 10px;
}

/* ABA NOVO */
#novo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.elementosForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    /* border: 1px solid #f00; */
}
.botoesForm{
    display: flex;
    justify-content: center;
    align-items: center;
}
.campoForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10px;
    width: 100%;
}

.campoForm input{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}


/* ******** */

/* PESQUISAR */
.pesquisa{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 10px;
}
.campoPesq{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.campoPesq input[type=text]{
    /* border: 1px solid #f00;  */
    padding: 5px;
    border-radius: 5px;
}
.campoPesq label{
    margin-right: 5px;
}

.dgv{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}
.dgvg{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.linhadados:nth-child(even){  
    background-color: #f7f4f4;
}

.linhadados:nth-child(odd){  
    background-color: #dddadadc;
} 
.linhadados:hover{
    background-color: #088 !important;
    color: #fff !important;
    cursor: pointer;
}    


.resultado{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 900px;
}

.resultadog{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 900px;
}

.titulos{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: inherit;  /* pega o tamanho do pai */
    background-color: #248;
    color: #fff;
    border-right: 1px solid #ddd;
}

.titulosg{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: inherit;  /* pega o tamanho do pai */
    background-color: #248;
    color: #fff;
    border-right: 1px solid #ddd;
}

.titulo{
    border-right: 1px solid #ddd;   
    padding: 3px;
}

.titulog{
    border-right: 1px solid #ddd;   
    padding: 3px;
}

.dados{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: inherit;  /* pega o tamanho do pai */
}

.dadosg{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: inherit;  /* pega o tamanho do pai */
}

.coluna {
    padding: 3px; 
}
.linhadados{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: inherit;  /* pega o tamanho do pai */
    background-color: #fff;
}
.c1{
    width: 5%;
}
.c2{
    width: 25%;
}
.c3{
    width: 15%;
}
.c4{
    width: 30%;
}
.c5{
    width: 10%;
}


/*COLUNAS DO DGV DE GESTAO*/
.linhadadosg{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: inherit;  /* pega o tamanho do pai */
    background-color: #fff;
}
.linhadadosg:nth-child(even){  
    background-color: #f7f4f4;
}

.linhadadosg:nth-child(odd){  
    background-color: #dddadadc;
} 
.linhadadosg:hover{
    background-color: #088 !important;
    color: #fff !important;
    cursor: pointer;
}    
.cg1{
    width: 5%;
}
.cg2{
    width: 25%;
}
.cg3{
    width: 15%;
}
.cg4{
    width: 30%;
}
.cg5{
    width: 10%;
}
.cg6{
    width: 15%;
}
.c_op{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.iconeop{
    width: 20%;
    cursor: pointer;
}
/* ******** */

/*GESTÃO - JanelaPOPUP - EDITAR*/
.fundopopup{
    /* display: flex; => vão ser criadas 2 novas classes vide neste CSS na seção AUXILIARES la encima*/
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.70);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999999999999;
}
.janelapopup{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;  
    flex-direction: column;
    width: 500px;
}
.titulopopup{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #248;
    color: #fff;
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
    width: inherit;
}
.principalpopup{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;   
    flex-direction: column;
    width: inherit;
    padding: 5px;
    background-color: #ddd;
}
.rodapepopup{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    /* padding: 5px; */
    width: inherit;
    background-color: #aaa;
    border-radius: 0px 0px 5px 5px;
}
/*=================*/

/*FILTRAR*/
.filtro{
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconefiltro{
    width: 30px;
    cursor: pointer;
}


/*=================*/